matlab/start.h5
matlab/*.avi
matlab/*.png
matlab/*.fig
matlab/*.mat
matlab/comparisons
matlab/spectrum_data
matlab/time_series
matlab/videos
source/*.o
source/diablo
example_run/*.h5
example_run/restart_files
example_run/output.dat
example_run/diablo
vapor