matlab/start.h5
matlab/*.avi
matlab/*.png
matlab/*.fig
matlab/*.mat
matlab/*.mp4
matlab/*.svg
matlab/comparisons
matlab/spectrum_data
matlab/time_series
matlab/videos
matlab/figs
matlab/local_stats
matlab/Spectra
matlab/tmp
matlab/bin*
matlab/Fr*
matlab/out*
matlab/wavelet_H5.m
matlab/wavelet_sweep.m
matlab/*.h5
matlab/wl*
matlab/wv*
source/*.o
source/diablo
example_run/*.h5
example_run/restart_files
example_run/output.dat
example_run/diablo
example_run/slurm*
vapor
python/tmp
python/__pycache__
python/fig_data
python/figures
python/june2019
python/.ipynb_checkpoints
python/*.mp4
python/*.pyc
python/workbook.ipynb
python/*analysis.ipynb
python/spectra_plot.ipynb
python/TKE_budgets.ipynb
python/make_snapshots.ipynb
python/*.png
python/*.svg
python/*.eps
python/*.npy
python/*.txt
python/movies
.vscode
calc_epsilon
internal_waves
julia/.ipynb_checkpoints
wave_mean